<div class="container">
<div class="row"><div class="col-md-4">
</div>
<div class="col-md-4">

<center><h1>Nytt Meddelande</h1>

<%= render 'form' %>

<%= link_to 'Back', contents_path %></center>

</div>
</div>
</div>