<p id="notice"><%= notice %></p>

<center><p>
  <strong>Message:</strong>
  <%= @content.message %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %></center>
