html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: relative;
  bottom: 0;
  margin-left: 68px;
  width: 90%;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-color: none;
}


