@import "bootstrap-sprockets";

@import "bootstrap";

@import 'bootstrap/theme';


/* Fixed navbar så att den har en padding top */
body {

  padding-top: 40px;
  padding-bottom: 100px;
}

.navbar-nav {
	 margin-top: 40px;
}
/* sadasd */
.navbar {
	padding-bottom: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
/*    ----------------   */

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  position:absolute;
  right:0;
  left:0;
  height: 500px;
  margin-bottom: 60px;
  margin:auto;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {

  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
height: 100%;
margin: auto;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 570px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 70px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
