.container-aktivitet{
  margin-right: 200px;
}


.panel-default > .panel-heading {
  color: white;
  background-image: none;
  background-color: grey;
  border-color: grey;
}
.panel-default {
  border-color: grey;
}

.panel-success > .panel-heading {
  color: white;
  background-image: none;
  background-color: #1B931F;
  border-color: #1B931F;
}
.panel-success {
  border-color: #1B931F;
}

.jumbotron {
  position: relative;
  padding: 30px 15px;
  margin-bottom: 30px;
  margin-left: 115px;
  width: 440px;
  height: 500px;
  color: inherit;
  background-color: #3d6db2;
}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}



/* PRICING TABLES */
.panel {

    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; /* Firefox 4 */
    -webkit-transition: all .5s ease-in-out; /* Safari and Chrome */
    -o-transition: all .5s ease-in-out; /* Opera */
    -ms-transition: all .5s ease-in-out; /* IE9 (maybe) */ 	
  
}

.panel:hover {
	transform: scale(1.06);
}
/*   -----------------------------------------   */























































#container {
  width: 80%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  margin-top: 20px;
}





/* Fixed navbar så att den har en padding top */
body {

  padding-top: 40px;
  padding-bottom: 100px;
}

.navbar-nav {
	 margin-top: 0;
}
/* sadasd */
.navbar {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
/*    ----------------   */

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  right:0;
  left:0;
  height: 500px;
  width: 700px;
  margin-bottom: 60px;
  margin:auto;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {

  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
height: 100%;
margin: auto;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 570px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 70px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
