 <!DOCTYPE html>
 <html>
 <head>
  <meta charset="UTF-8">
  <title>Title of the document</title>
  <style>
    body {

      padding-top: 40px;
      padding-bottom: 100px;
    }
  </style>

</head>

<body>
  <center><h1>Höstschema 2015</h1></center>
  <center><u>Gäller med start 7:e September</u></center>
  <center> <%= link_to asset_path("hostschema.pdf") do %> Schema för utskrift <% end %><br></center><br><br>


  <center><table width="638" border="3" cellpadding="2" cellspacing="0" bordercolor="#EEEEEE">
    <tr align="center" valign="middle" bordercolor="#EEEEEE" class="scemabold"> 
      <td width="90" height="15" align="left" class="schema ">&nbsp;</td>
      <td width="80" class="style11">Måndag</td>
      <td width="70" class="style11">Tisdag</td>
      <td width="70" class="style11">Onsdag</td>
      <td width="70" class="style11">Torsdag</td>
      <td width="70" class="style11">Fredag</td>
      <td width="70" class="style11">L&ouml;rdag</td>
      <td width="70" height="15" class="style11">S&ouml;ndag</td>
    </tr>
    <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema"> 
      <td height="15" align="left" class="schema"><strong>09.00</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Gympa senior - Inger</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema"> 
      <td height="15" align="left" class="schema"><strong>10.00</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Pilates* Sofina</td>
      <td>Pulsintervall Pernilla</td>
      <td>&nbsp;</td>
    </tr>
    <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema">
      <td height="15" align="left" class="schema"><strong>11.30</strong></td>
      <td>Cykling 45min* Bengt</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Gymcirkel 45min* Sofina</td>
      <td height="15">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema"> 
      <td width="50" height="15" align="left" class="schema"><strong>16.30</strong></td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">Crosspass* Gabriel</td>
    </tr>
    <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema">
      <td width="50" height="15" align="left" class="schema"><strong>17.00</strong></td>
      <td>&nbsp;</td>
      <td class="schema">Pulsintervall bas Peder</td>
      <td>Gymcirkel* Gabriel</td>
      <td>&nbsp;</td>
      <td height="15">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema"> 
      <td width="50" height="15" align="left" class="schema"><strong>17.30</strong></td>
      <td width="70">Gymcirkel express 30min* Marie</td>
      <td width="70" class="bokatid">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70" height="15">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
    </tr>
    <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema">
      <td height="15" align="left" class="schema"><strong>18.00</strong></td>
      <td>Puls intervall Jenny</td>
      <td>Kondition express 30 min* Therese</td>
      <td>Kampcirkel* Gabriel</td>
      <td>Puls intervall Sofina</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema">
      <td height="15" align="left" class="schema"><strong>18.00</strong></td>
      <td>Cykling </td>
    </tr>

    <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema"> 
      <td width="50" height="15" align="left" class="schema"><strong>18.30</strong></td>
      <td width="70">&nbsp;</td>
      <td width="70">Styrka express 30min* Therese</td>
      <td width="70">&nbsp;</td>
      <td width="70">Gymcirkel express 30min* Bengt</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
    </tr>
    <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema"> 
      <td width="50" height="15" align="left" class="schema"><strong>19.00</strong></td>
      <td width="70">Intervallstyrka* Veronica</td>
      <td width="70">&nbsp;</td>
      <td width="70">Core på boll* Veronica</td>
      <td width="70">Yin Yoga 45min* Sandra</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
    </tr>
    <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema"> 
      <td width="50" height="15" align="left" class="schema"><strong>20.00</strong></td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">Styrka Express 30min Veronica</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
    </tr>
    <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema"> 
      <td width="50" height="15" align="left" class="schema"><strong>20.30</strong></td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
    </tr>

  </table></center><br>


  <center><p> Till alla pass märkt med en stjärna* krävs föranmälan via bokningssytemet. <br>Bokade platser släpps 5 minuter innan passen börjar. När det inte står någon<br> tid angiven så är passen cirka 55 minuter långa.</p></center>

</body>

</html> 