<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="assets/massage.css"> <!-- Resource style -->
	<script src="assets/modernizr.js"></script> <!-- Modernizr -->
	<link rel="stylesheet" href="assets/startsida.css">

</head>
<body>
<h1><font color="black"><center>Massage och Kiropraktik</font></center></h1>

	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Massage &amp; Kiropraktik</h2>
				<p>Här på Granbacka erbjuder vi både massage och kiropraktik. Kontakta Sofina Berg Leg. Kiropraktor för bokning eller mer information</p>
				<span class="cd-date"><font size="3px">Massage och Kiropraktik</font></span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="../assets/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<h2>Legitimerad Kiropraktor</h2>
				<p>Sofina Berg är Legitimerad Kiropraktor och utför kiropraktisk behandling på Granbacka.</p>
				<p>Telefon: 0738-310756</p>
				<p>Epost: info@kiroprakorsofina.se</p>
				<span class="cd-date"><font size="3px">Legitimerad Kiropraktor</font></span>
			</div> <!-- cd-timeline-content -->
			
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->
				<div class="cd-timeline-content">
				<h2>Varför Kiropraktik?</h2>
				<p>Ibland behövs det hjälp på vägen för att vardagen ska gå smärtfritt. Smärta kan göra även de enklaste saker komplicerade, då kan det vara bra att veta att en kiropraktor finns dig nära till hands.</p>
				<span class="cd-date"><font size="3px">Hjälper till med vardagen</font></span>
			</div> <!-- cd-timeline-content -->
			
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/cd-icon-massage.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Tillstånd som behandlas av Kiropraktor</h2>
				<p><ul><li>Smärta/stelhet i rygg</li>
				<li>Smärta i nacke</li>
				<li>Akut smärta</li>
				<li>Kronisk smärta</li>
				<li>Ischias</li>
				<li>Spänningshuvudvärk</li>
				<li>Tennis- och musarmbåge</li>
				<li>Funktionsanalys</li>
				</ul></p>
				<span class="cd-date"><font size="3px">Olika tillstånd</font></span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/cd-icon-massage.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Vad gör en Kiropraktor?</h2>
				<p>Kiropraktorn behandlar leder som inte rör sig som de ska, en så kallad låsning. Dessa låsningar kan påverka andra omkringliggande leder så att de rör sig för mycket och detta kan skapa obalans i kroppen.</p>
				<span class="cd-date"><font size="3px">Behandlar låsningar</font></span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="../assets/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Hur behandlar man?</h2>
				<p>Kiropraktorn behandlar problematik i rörelseorganen med skonsamma tekniker som specifikt påverkar de leder som inte rör sig optimalt. Därefter kan mjukdelsbehandling förekomma samt rehabilitering så att muskulaturen aktiveras korrekt.</p>
				<span class="cd-date"><font size="3px">Mjukdelsbehandling och rehabilitering</font></span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/cd-icon-massage.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Hur lång tid tar behandlingen?</h2>
				<p>Första besöket tar ca 45 min, då görs en grundlig undersökning för att göra en bedömning om sökorsaken kommer från rörelseapparaten, bedöms tillståndet som sådant inleds en behandling med en efterföljande behandlingsplan. Återbesök tar ca 30 min</p>
				<span class="cd-date"><font size="3px">ca 45 min</font></span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/cd-icon-massage.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Vad kostar en behandling?</h2>
				<p>Det kostar 550 kronor. För uteblivet besök debiteras full avgift. Om man har feber eller känner sig hängig ber vi kunden att boka om sitt besök</p>
				<span class="cd-date"><font size="3px">550 kronor</font></span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
<script src="assets/massage.js"></script> <!-- Resource jQuery -->
</body>
</html>