<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="assets/startsida.css">
        <link rel="stylesheet" href="assets/ovrigt.css">



  </head>
  <body>
  
  

<br>    <div class="containerkorv">
     

      <div class="jumbotronkorv">
        <h1><font color="white">Vi söker instruktörer</font></h1>
        <p class="lead"><font color ="white">Vi är ständigt intresserade av nya medarbetare till vår instruktörskår. Ring och prata med Bengt eller Marie Lindskog, 08-82 34 39.</font></p>
      </div>
    </div> <!-- /container -->

      <div class="containerkorv">
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Friskvårdskuponger</h4>
          <p>Nu tar vi emot friksvårdskuponger som betalmedel. <a class="btn btn-primary btn-xs" href="http://www.friskvardskuponger.se/" role="button">Läs vidare &raquo;</a>
</p>
          
          <h4>Öppettider i receptionen</h4>
          <p>Bemanning i receptionen. OBS vi reserverar oss för att det kan förekomma tider mitt på dagen då receptionen är obemannad.</p>
          <ul style="list-style-type:circle"><li>Måndag 09.30 - 21.00</li>
          <li>Tisdag 09.30 - 20.00</li>
          <li>Onsdag 08.30 - 20.30</li>
          <li>Torsdag 09.30 - 20.30</li>
          <li>Fredag 12.00 - 19.00</li>
          <li>Lördag 09.30 - 13.00</li>
          <li>Söndag 14.00 - 18.00</li></ul>

          <h4>Obemannade tider</h4>
          <p>Granbacka är obemannat vissa tider och du som medlem öppnar själv dörren med ditt medlemskort i streckkodsläsaren, som sitter placerad vid ytterdörren. Funktionen kommer att vara en sluss, som innebär att ytterdörren måste vara stängd innan innerdörren går att öppna, och vice versa vid utgång. När du som medlem drar ditt kort (förutsatt att det är giltigt) hörs ett pip och dörren går då att öppna.</p>

        </div>

        <div class="col-lg-6">
          <h4>Friskvårdschecken</h4>
          <p>Nu tar vi emot friksvårdschecken som betalmedel. <a class="btn btn-primary btn-xs" href="http://friskvardschecken.se/" role="button">Läs vidare &raquo;</a>
</p>
          <h4>Övervakning i lokalen</h4>
          <p>Observera att vi har kameraövervakning i såväl entré som alla utrymmen i gymmet. Detta i syfte att förebygga stöld, vandalisering eller missbruk av träningskort. Kameraövervakningen är även en säkerhet för dig som medlem, för skulle något inträffa kan vi i efterhand ta fram bilder på händelsen.</p>



        </div>
      </div><!-- row marketing -->
</div>

  </body>
  </html>