<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="assets/startsida.css">

    <link rel="stylesheet" href="assets/ihover.css">

  </head>


<h1><center>Våra Gruppträningspass</center></h1><br><br>

<div class="container">

<div class="row">

    <div class="col-md-4">
        <!-- normal -->
    <div class="ih-item circle colored effect6 scale_up"><a href="#">
        <div class="img"><img src="/assets/boxning.png"></div>
        <div class="info">
          <h3>Boxning</h3>
          <p>Vi jobbar med de tre grundslagen, raka-krokar-uppercuts, sparkar och knän samt använder oss av mitzar och handskar. Vi tränar både kondition och styrka.</p>
        </div></a>
    </div>
    <!-- end normal -->
	</div>	        


    <div class="col-md-4">
        <!-- normal -->
    <div class="ih-item circle colored effect6 scale_up"><a href="#">
        <div class="img"><img src="/assets/core.png"></div>
        <div class="info">
          <h3>Core på boll</h3>
          <p>Ett pass där alla övningarna utförs på/med en pilatesboll. Ger styrka, stabilitet och fasthet i mage, rygg och säte. Balansträning ingår i passet.</p>
        </div></a></div>
    <!-- end normal -->
          </div>
    
    <div class="col-md-4">
    <div class="ih-item circle colored effect6 scale_up"><a href="#">
        <div class="img"><img src="/assets/cykling.png"></div>
        <div class="info">
          <h3>Cykling</h3>
          <p>Cykling i grupp till musik där alla kan delta. Du väljer själv intensitet och belastning på cykeln med hjälp av motståndet. Mycket effektiv träning för förbränning och kondition.</p>
        </div></a>
    </div>
    </div> <!-- end of col-md-4 -->


    </div><!-- end of row -->



















<br><br><br><br><br>
<div class="row">

    <div class="col-md-4">
        <!-- normal -->
    <div class="ih-item circle colored effect6 scale_up"><a href="#">
        <div class="img"><img src="/assets/intervall.png"></div>
        <div class="info">
          <h3>Cykling Intervall</h3>
          <p> Vi jobbar i olika intervaller med mål att ni maximal ansträningsnivå. Ett kul och tufft pass för dig som gillar utmaningar!</p>
        </div></a>
    </div>
    <!-- end normal -->
	</div>	        


    <div class="col-md-4">
        <!-- normal -->
    <div class="ih-item circle colored effect6 scale_up"><a href="#">
        <div class="img"><img src="/assets/crosspass.png"></div>
        <div class="info">
          <h3>Crosspass</h3>
          <p>Ett tufft, roligt och givande pass där vi jobbar med olika tidsintervaller och/eller olika stationer, med redskap eller den egna kroppen som vikt. Ett pass vars syfte är att förbättra din kondition, styrka, uthållighet och smidighet.</p>
        </div></a></div>
    <!-- end normal -->
          </div>
    
    <div class="col-md-4">
    <div class="ih-item circle colored effect6 scale_up"><a href="#">
        <div class="img"><img src="/assets/funktionell.png"></div>
        <div class="info">
          <h3>Funktionell Styrka</h3>
          <p>Styrkepass där vi förbättrar kroppens grundläggande funktionalitet genom ökad stabilitet, balans, styrka och rörlighet. Alla övningar genomförs med kroppen som belastning (tillägg med vikter finns för de som önskar). Passet avslutas med en lite längre avslappning och stretch.</p>
        </div></a>
    </div>
    </div> <!-- end of col-md-4 -->


    </div><!-- end of row -->




















<br><br><br><br><br>
<div class="row">

    <div class="col-md-4">
        <!-- normal -->
    <div class="ih-item circle colored effect6 scale_up"><a href="#">
        <div class="img"><img src="/assets/gymcirkel.png"></div>
        <div class="info">
          <h3>Gymcirkel</h3>
          <p>Instruktörsledda cirkelpass på Life Fitness cirkelmaskiner. En idealisk styrketräningslösning för hela kroppen. Passar alla användare, även ovana vid träning i gym.</p>
        </div></a>
    </div>
    <!-- end normal -->
	</div>	        


    <div class="col-md-4">
        <!-- normal -->
    <div class="ih-item circle colored effect6 scale_up"><a href="#">
        <div class="img"><img src="/assets/senior.png"></div>
        <div class="info">
          <h3>Gympa Senior</h3>
          <p>Ett pass för dig som är lite äldre. Vi tränar rörlighet, kondition och styrka utan att använda hopp.</p>
        </div></a></div>
    <!-- end normal -->
          </div>
    
    <div class="col-md-4">
    <div class="ih-item circle colored effect6 scale_up"><a href="#">
        <div class="img"><img src="/assets/intervallstyrka.png"></div>
        <div class="info">
          <h3>Intervallstyrka</h3>
          <p>Ett pass där du kan utmana din styrka, explosivitet och uthållighet. I intervaller tränar vi igenom hela kroppen. Du väljer själv dina vikter och passet kan bli hur utmanande som helst.</p>
        </div></a>
    </div>
    </div> <!-- end of col-md-4 -->


    </div><!-- end of row -->

















<br><br><br><br><br>
<div class="row">

    <div class="col-md-4">
        <!-- normal -->
    <div class="ih-item circle colored effect6 scale_up"><a href="#">
        <div class="img"><img src="/assets/kampcirkel.png"></div>
        <div class="info">
          <h3>Kampcirkel</h3>
          <p>Ett utmanande pass  som är uppbyggt utifrån de fem elementen i kampsporten: spänst, balans, snabbhet, uthållighet och styrka. Du tränar individuellt och i intervaller på sex olika stationer.</p>
        </div></a>
    </div>
    <!-- end normal -->
	</div>	        


    <div class="col-md-4">
        <!-- normal -->
    <div class="ih-item circle colored effect6 scale_up"><a href="#">
        <div class="img"><img src="/assets/pilates.png"></div>
        <div class="info">
          <h3>Pilates</h3>
          <p>Ett pass där du tränar styrka och rörlighet med tonvikt på coremuskulaturen. Vi fokusera på att andas rätt under hela passet och avslutar med avspänning.</p>
        </div></a></div>
    <!-- end normal -->
          </div>
    
    <div class="col-md-4">
    <div class="ih-item circle colored effect6 scale_up"><a href="#">
        <div class="img"><img src="/assets/zumba.png"></div>
        <div class="info">
          <h3>Zumba</h3>
          <p>En träningsform inspirerad av latinamerikanska rytmer och i huvudsak fyra dansstilar; Cumbia, Salsa, Merengue och Reggaeton. Dessa dansstilar är olika från varandra vilket gör att passet varierar i stil och intensitet. Den enkla koreografin gör det lätt att hänga med och ta ut svängarna så att du får ut så mycket som möjligt av din träning.</p>
        </div></a>
    </div>
    </div> <!-- end of col-md-4 -->


    </div><!-- end of row -->


















</div><!-- end of container -->



