<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="assets/demo.css" />

  <link rel="stylesheet" type="text/css" href="assets/normalize.css" />


  <link rel="stylesheet" type="text/css" href="assets/set1.css" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link rel="stylesheet" href="assets/startsida.css">



</head>
<body>


  <h1><center>Våra Gruppträningspass</center></h1><br><br>

  <div class="container">

    <div class="content">

      <div class="grid">
        <figure class="effect-chico">
          <img src="assets/passtraining/sport.png" alt="img15"/>
          <figcaption>
            <h2>Styrka <span>Express</span></h2>
            <p>Ett högintensivt styrkepass där vi effektivt tränar kroppens olika muskler.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-chico">
          <img src="assets/passtraining/sport.png" />
          <figcaption>
            <h2>Core  <span>på boll</span></h2>
            <p>Ett pass där alla övningarna utförs med en pilatesboll. Ger styrka, stabilitet och fasthet i mage, rygg och säte.<br><br> Balansträning ingår i passet.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>         
      </div>

      <div class="grid">
        <figure class="effect-chico">
          <img src="assets/passtraining/sport.png" alt="img15"/>
          <figcaption>
            <h2> <span>Cykling</span></h2>
            <p>Cykling i grupp till musik där alla kan delta. Du väljer själv intensitet och belastning på cykeln med hjälp av motståndet. <br><br>Mycket effektiv träning för förbränning och kondition.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-chico">
          <img src="assets/passtraining/sport.png" />
          <figcaption>
            <h2>Cykling <span>Intervall</span></h2>
            <p> Vi jobbar i olika intervaller med mål att ni maximal ansträningsnivå. Ett kul och tufft pass för dig som gillar utmaningar!</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>           
      </div>
      <div class="grid">
        <figure class="effect-chico">
          <img src="assets/passtraining/sport.png" alt="img15"/>
          <figcaption>
            <h2> <span>Crosspass</span></h2>
            <p>Ett tufft, roligt och givande pass där vi jobbar med olika tidsintervaller och/eller olika stationer, med redskap eller den egna kroppen som vikt. <br><br>Ett pass vars syfte är att förbättra din kondition, styrka, uthållighet och smidighet.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-chico">
          <img src="assets/passtraining/sport.png" alt="img04"/>
          <figcaption>
            <h2>Puls <span>Intervall</span></h2>
            <p> Ett pass med mycket rörelseglädje! Vi tränar kondition, styrka, rörlighet samt balans och vi använder både redskap och kroppen som vikt.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>           
      </div>

      <div class="grid">
        <figure class="effect-chico">
          <img src="assets/passtraining/sport.png" alt="img15"/>
          <figcaption>
            <h2> <span>Gymcirkel</span></h2>
            <p>Instruktörsledda cirkelpass på Life Fitness cirkelmaskiner. En idealisk styrketräningslösning för hela kroppen. Passar alla användare, även ovana vid träning i gym.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-chico">
          <img src="assets/passtraining/sport.png" alt="img04"/>
          <figcaption>
            <h2>Gympa <span>Senior</span></h2>
            <p>Ett pass för dig som är lite äldre. Vi tränar rörlighet, kondition och styrka utan att använda hopp.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>           
      </div>

      <div class="grid">
        <figure class="effect-chico">
          <img src="assets/passtraining/sport.png" alt="img15"/>
          <figcaption>
            <h2>Intervall <span>styrka</span></h2>
            <p>Ett pass där du kan utmana din styrka, explosivitet och uthållighet. I intervaller tränar vi igenom hela kroppen. <br><br>Du väljer själv dina vikter och passet kan bli hur utmanande som helst.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-chico">
          <img src="assets/passtraining/sport.png" alt="img04"/>
          <figcaption>
            <h2> <span>Kampcirkel</span></h2>
            <p>Ett utmanande pass  som är uppbyggt utifrån de fem elementen i kampsporten: spänst, balans, snabbhet, uthållighet och styrka. Du tränar individuellt och i intervaller på sex olika stationer.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>           
      </div>

      <div class="grid">
        <figure class="effect-chico">
          <img src="assets/passtraining/sport.png" alt="img15"/>
          <figcaption>
            <h2> <span>Pilates</span></h2>
            <p>Ett pass där du tränar styrka och rörlighet med tonvikt på coremuskulaturen. Vi fokusera på att andas rätt under hela passet och avslutar med avspänning.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-chico">
          <img src="assets/passtraining/sport.png" alt="img04"/>
          <figcaption>
            <h2>Kondition <span>Express</span></h2>
            <p> Ett högintensivt konditionspass där du verkligen kan utmana dig själv! Med enkla övningar ser vi till att hjärtat får jobba ordentligt!</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>           
      </div>

      <div class="grid">
        <figure class="effect-chico">
          <img src="assets/passtraining/sport.png" alt="img15"/>
          <figcaption>
            <h2> Yin<span> Yoga</span></h2>
            <p>En blandning av yoga,  mindfulness och kinesisk medicin. Fokus ligger på att öka vår flexibilitet. Vi använder vår andning för att sjunka in i olika positioner.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>           
      </div>

    </div>
  </div><!-- /container -->

  <script>
      // For Demo purposes only (show hover effect on mobile devices)
      [].slice.call( document.querySelectorAll('a[href="#"') ).forEach( function(el) {
        el.addEventListener( 'click', function(ev) { ev.preventDefault(); } );
      } );
    </script>
  </body>
  </html>