<h1><center> Våra Priser </center></h1><br><br><br>


<div class="container">
        <div class="row">
                <div class="col-md-3">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <h3 class="text-center">Gruppträning &amp; Gym</h3>
                                        <p class="text-center">Standard</p>
                                </div>
                                <div class="panel-body text-center">
                                        <p class="lead" style="font-size:30px"><strong>389 kr/mån</strong></p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                                Årskort Autogiro <strong>4 695 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Halvårskort <strong>3 495 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Kvartalskort <strong>2 295 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Klippkort 10 X (giltigt 1 år) <strong>1 250 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Engångskostnad <strong>150 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                        <span class="glyphicon glyphicon-star"></span> Guldkort <strong> 300 kr </strong>




                                        </li>

                                </ul>
                                <div class="panel-footer"> <a class="btn btn-sm btn-block btn-danger" href="#">KÖP</a> </div>
                        </div>
                </div>



                <div class="col-md-3">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <h3 class="text-center">Gruppträning &amp; Gym</h3>
                                        <p class="text-center">Reducerat*</p>
                                </div>
                                <div class="panel-body text-center">
                                        <p class="lead" style="font-size:30px"><strong>289 kr/mån</strong></p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                                Årskort Autogiro <strong>3 495 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Halvårskort <strong>2 495 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Kvartalskort <strong>1 795 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Klippkort 10 X (giltigt 1 år) <strong>950 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Engångskostnad <strong>110 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                        <span class="glyphicon glyphicon-star"></span> Guldkort <strong> 300 kr </strong>
                                        </li>
                                </ul>
                                <div class="panel-footer"> <a class="btn btn-sm btn-block btn-danger" href="#">KÖP</a> </div>
                        </div>
                </div>
















                <div class="col-md-3">
                        <div class="panel panel-success">
                                <div class="panel-heading">
                                        <h3 class="text-center">Gymkort</h3>
                                        <p class="text-center">Standard</p>
                                </div>
                                <div class="panel-body text-center">
                                        <p class="lead" style="font-size:30px"><strong>229 kr/mån</strong></p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                                Årskort Autogiro <strong>2 895 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Halvårskort <strong>1 995 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Kvartalskort <strong>1 495 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                        <span class="glyphicon glyphicon-remove"></span> Klippkort 10 X (giltigt 1 år)
                                        </li>
                                        <li class="list-group-item">
                                        <span class="glyphicon glyphicon-remove"></span> Engångskostnad
                                        </li>
                                        <li class="list-group-item">
                                        <span class="glyphicon glyphicon-star"></span> Guldkort <strong> 300 kr </strong>
                                        </li>
                                </ul>
                                <div class="panel-footer"> <a class="btn btn-sm btn-block btn-danger" href="#">KÖP</a> </div>
                        </div>
                </div>
                <div class="col-md-3">
                        <div class="panel panel-success">
                                <div class="panel-heading">
                                        <h3 class="text-center">Gymkort</h3>
                                        <p class="text-center">Reducerat*</p>
                                </div>
                                <div class="panel-body text-center">
                                        <p class="lead" style="font-size:30px"><strong>199 kr/mån</strong></p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                                Årskort Autogiro <strong>2 595 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Halvårskort <strong>1 795 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Kvartalskort <strong>1 295 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                        <span class="glyphicon glyphicon-remove"></span> Klippkort 10 X (giltigt 1 år)
                                        </li>
                                        <li class="list-group-item">
                                        <span class="glyphicon glyphicon-remove"></span> Engångskostnad
                                        </li>
                                        <li class="list-group-item">
                                        <span class="glyphicon glyphicon-star"></span> Guldkort <strong> 300 kr </strong>
                                        </li>
                                </ul>
                                <div class="panel-footer"> <a class="btn btn-sm btn-block btn-danger" href="#">KÖP</a> </div>
                        </div>
                </div>
                <div class="col-md-3">
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                        <h3 class="text-center">Övrigt</h3>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                                Solning Drop-in 3 min <strong>10 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Styrkeinstruktion 45 min <strong>300 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Personlig träning <strong>Kontakta oss</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Kiropraktik <strong>500 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Massage 30min/45min/55min <strong>400 kr/500 kr/600 kr</strong>
                                        </li>
                                </ul>
                                <div class="panel-footer"> <a class="btn btn-sm btn-block btn-danger" href="#">KÖP</a> </div>
                        </div>
                </div>
        </div><!-- end of row -->
</div>


