 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>

<style>
body {

  padding-top: 40px;
  padding-bottom: 100px;
}
</style>
</head>

<body>

<center><h1>Sommarschemat 2015</h1></center><br><br>


<center><table width="663" border="3" cellpadding="2" cellspacing="0" bordercolor="#EEEEEE">
                          <tr align="center" valign="middle" bordercolor="#EEEEEE" class="scemabold"> 
                            <td width="33" height="15" align="left" class="schema ">&nbsp;</td>
                            <td width="50" class="style11">Måndag</td>
							<td width="75" class="style11">Tisdag</td>
							<td width="49" class="style11">Onsdag</td>
                            <td width="56" class="style11">Torsdag</td>
                            <td width="50" class="style11">Fredag</td>
                            <td width="50" class="style11">L&ouml;rdag</td>
                            <td width="50" height="15" class="style11">S&ouml;ndag</td>
                          </tr>
						  <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema">
						    <td height="15" align="left" class="schema">Reception</td>
						    <td>14:00 - 19:00</td>
						    <td>14:00 - 19:00</td>
						    <td>14:00 - 19:00</td>
						    <td>14:00 - 19:00</td>
						    <td height="15">St&auml;ngd</td>
						    <td>St&auml;ngd</td>
						    <td>St&auml;ngd</td>
					      </tr>
						  <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema"> 
                            <td width="33" height="15" align="left" class="schema"><strong>17.00</strong></td>
                            <td width="50">&nbsp;</td>
                            <td width="75">&nbsp;</td>
                            <td width="49">Gymcirkel*</td>
                            <td width="56">&nbsp;</td>
                            <td width="50" height="15">inga pass</td>
							  <td width="50">inga pass</td>
							  
                            <td width="50">inga pass</td>
                          </tr>
                          <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema"> 
                            <td width="33" height="15" align="left" class="schema"><strong>17.30</strong></td>
                            <td width="50">&nbsp;</td>
                            <td width="75" class="bokatid">Crosspass*</td>
                            <td width="49">&nbsp;</td>
                            <td width="56">Kondition Express*</td>
                            <td width="50" height="15">&nbsp;</td>
							<td width="50">&nbsp;</td>
							<td width="50">&nbsp;</td>
                          </tr>
						  <tr align="center" valign="middle" bordercolor="#EEEEEE" class="schema"> 
                            <td width="33" height="15" align="left" class="schema"><strong>18.00</strong></td>
                            <td width="50">Puls intervall&nbsp;</td>
                            <td width="75">&nbsp;</td>
                            <td width="49">&nbsp;</td>
                            <td width="56">Styrka*</td>
                            <td width="50">&nbsp;</td>
							<td width="50">&nbsp;</td>
							<td width="50">&nbsp;</td>
                          </tr>
                        </table></center><br>

<center><p>  Till alla pass märkt med en stjärna* krävs föranmälan via bokningssytemet. <br>Bokade platser släpps 5 minuter innan passen börjar. När det inte står <br>någon tid angiven så är passen cirka 55 minuter långa. <br><br> Gymmet öppet som vanligt för alla med giltigt kort!</p></center>

</body>

</html> 