<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link href='assets/footer.css' rel='stylesheet' />
    <link href='assets/startsida.css' rel='stylesheet' />


  </head>

<br><br>
      <hr class="featurette-divider">

    <footer class="footer">
      <div class="container"><br>
      <div class="row">
      <div class="col-md-1">
      <p><font color="grey">Adress: </font></p>
      <p><font color="grey">Emmylundsvägen&nbsp;4</font></p>
      <p><font color="grey">171&nbsp;72&nbsp;Solna</font></p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1">
      <p><font color="grey">Telefon:</font></p>
      <p><font color="grey">08&nbsp;-&nbsp;82&nbsp;34&nbsp;39</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1">
      <p><font color="grey">Epost:</font></p>
      <p><font color="grey">info@granbacka.com</font></p>
      </div>
      <div class="col-md-1"></div>      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>

      <div class="col-md-1"><br>
      <p><font color="grey">Copyright&nbsp;&copy;&nbsp;Granbacka&nbsp;2015</font></p>
      </div>
      </div>
      </div>
    </footer>

    <br><br>